.toy-edit {
    margin: 15px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    background-color:lighten($clr2,30);
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    .validation-error-msg {
        color: red;
    }
    .file-input {
        margin-left: 60px;
    }
    input {
        font-size: 15px;
        padding-left:3px;
        margin-left: 10px;
    }
    select {
        font-size: 15px;
        margin-left: 10px;
    }
}