// Colors
$clr1: #845EC2;
$clr2: #2C73D2;
$clr3: #0081CF;
$clr4: #0089BA;
$clr5: #008E9B;
$clr6: #008F7A;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;